body {
  margin: 0px;
  padding: 0;
  font-family: sans-serif;
  text-align: center;
}
/* body * {
  border: 0.1px black solid;
} */
.navbar2 {
  width: 500px;
  margin: auto;
  text-align: center;
}
.navbar * {
  margin: auto;
}
label {
  font-weight: bold;
  margin: 5px 0;
}
.btn {
  margin: 10px;
}
.header {
  font-weight: bold;
  color: rgb(255, 90, 14);
}
